.*
!.coveragerc
!.env
!.pylintrc
!.postcssrc
!.eslintrc.json
!.eslintignore
**/*.DS_Store
**/__pycache__
**/*.pyc
**/node_modules
**/media
*.db
*.dump
*.pgdump
*.sql
*.orig
.coverage
.circleci
.dockerignore
.git
.env
.envrc
.direnv
.ipython
.postgres
.python-version
.pytest_cache
.vscode
bin
build
deploy
docs
htmlcov
locale
notebooks
venv
Dockerfile
Dockerfile.prod
npm-debug.log
webpack-stats.json
