version: '3'

volumes:
  local_postgres_data: {}
  local_postgres_data_backups: {}

services:
  django: &django
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: dear_petition_local_django
    depends_on:
      - postgres
      - mailhog
    volumes:
      - .:/app
      - /app/frontend/node_modules
      - /app/node_modules
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
    ports:
      - "8000:8000"
    command: /start
    tty: true
    stdin_open: true

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: dear_petition_production_postgres
    volumes:
      - local_postgres_data:/var/lib/postgresql/data
      - local_postgres_data_backups:/backups
    env_file:
      - ./.envs/.local/.postgres

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    stdin_open: true
    depends_on:
      - django
    ports:
      - "3000:3000"
    volumes:
      - /app/node_modules
      - ./:/app/
    environment:
      - CHOKIDAR_USEPOLLING=true

  mailhog:
    image: mailhog/mailhog:v1.0.0
    ports:
      - "8025:8025"

  redis:
    image: redis:5-alpine

  jupyter:
    <<: *django
    image: dear_petition_local_jupyter
    ports:
      - "8001:8888"
    depends_on:
      - postgres
      - redis
    command: /start-jupyter
