version: '3'

volumes:
  local_postgres_data: {}

services:
  django: &django
    build:
      context: .
      target: dev
    image: dear_petition_local_django
    depends_on:
      - postgres
      - mailhog
    volumes:
      - .:/code
    env_file:
      - ./.envs/.local/.django
    ports:
      - "8000:8000"
    tty: true
    stdin_open: true

  postgres:
    image: postgres:12-alpine
    volumes:
      - local_postgres_data:/var/lib/postgresql/data
    env_file:
      - ./.envs/.local/.postgres

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    stdin_open: true
    depends_on:
      - django
    ports:
      - "3000:3000"
    volumes:
      - ./:/app/
      - /app/node_modules
    env_file:
      - ./.envs/.local/.frontend
    environment:
      - OVERRIDE_API_PROXY

  mailhog:
    image: mailhog/mailhog:v1.0.0
    ports:
      - "8025:8025"

  redis:
    image: redis:5-alpine

  celery:
    <<: *django
    ports:
      - "6379:6379"
    environment:
      - COLUMNS=80 #Necessary because of some annoying zero-width shell error
    command: celery worker --app=dear_petition.taskapp --beat --loglevel=info

  jupyter:
    <<: *django
    image: dear_petition_local_jupyter
    ports:
      - "8001:8888"
    depends_on:
      - postgres
      - redis
    command: /start-jupyter
