{% load static i18n crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/comments.css' %}" type="text/css">
<section id="comments-section">
    <ul class="comments"></article>
        {% for comment in batch.comments.all %}
        <li class="comment">
            <article>
                <div class="message-data">
                    <div class="message-header">
                        <p id="comment-user-name" class="header-item">{{ comment.user.name }}</p>
                        <p id="comment-user-time" class="header-item">{{ comment.time }}</p>
                    </div>
                    <div class="message-text">
                        <p>{{ comment.text }}</p> 
                    </div>
                </div>
            </article>
        </li>
        {% endfor %}
        </ul>
</article>
</section>
<form id="input-section" method="POST" action="{% url 'create-comment' batch.pk %}">
    {% csrf_token %}
    {{ comment_form|crispy }}
    <button type="submit" value="Post comment" class="primaryAction btn btn-primary">Post comment</button>
</form>


