{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}

{% block title %}CIPRS Record: {{ batch.records.first.data.Defendant.Name }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm">
      <h1 class='page-header'>{{ batch.records.first.data.Defendant.Name|title }}</h1>
    <div>
  </div>
  <br />
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link{% ifequal tab 'petition' %} active {% endifequal %}" id="petition-tab" data-toggle="tab" href="#petition" role="tab" aria-controls="petition" aria-selected={% ifequal tab 'petition' %}"true"{% else %}"false"{% endifequal %}>Petition Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% ifequal tab 'ciprs' %} active {% endifequal %}" id="ciprs-tab" data-toggle="tab" href="#ciprs" role="tab" aria-controls="ciprs" aria-selected={% ifequal tab 'ciprs' %}"true"{% else %}"false"{% endifequal %}>CIPRS Records</a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% ifequal tab 'comments' %} active {% endifequal %}" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected={% ifequal tab 'comments' %}"true"{% else %}"false"{% endifequal %}>Comments</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade {% ifequal tab 'petition' %}show active {% endifequal %}" id="petition" role="tabpanel" aria-labelledby="petition-tab">
      <div class="row">
        <div class="col-7">
          <h3>Petition Form</h3>
          <form method="POST" action="{% url 'create-petition' batch.pk %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="primaryAction btn btn-primary" type="submit">{% trans "Generate Petition Form" %}</button>
          </form>
        </div>
      </div>
    </div>
    <div class="tab-pane fade {% ifequal tab 'ciprs' %}show active {% endifequal %}" id="ciprs" role="tabpanel" aria-labelledby="source-tab">
      <ul>
        {% for record in batch.records.all %}
        <li><a href="{% url 'view-record' record.pk %}">Record {{ record.pk }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="tab-pane fade {% ifequal tab 'comments' %}show active {% endifequal %}" id="comments" role="tabpanel" aria-labelledby="source-tab">
      {% block comments %}
        {% include "components/comments_section.html" %}
      {% endblock %}
    </div>
  </div>
{% endblock content %}


