{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}

{% block title %}CIPRS Record: {{ record.data.Defendant.Name }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm">
      <h1 class='page-header'>{{ record.data.Defendant.Name|title }}</h1>
    <div>
  </div>
  <br />
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="ciprs-tab" data-toggle="tab" href="#ciprs" role="tab" aria-controls="ciprs" aria-selected="true">CIPRS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="source-tab" data-toggle="tab" href="#source" role="tab" aria-controls="profile" aria-selected="false">Source</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="ciprs" role="tabpanel" aria-labelledby="ciprs-tab">
      <div class="row">
        <div class="col">
          <h3>CIPRS Data</h3>
          <table id="ciprs-data" class="table table-hover table-sm">
            <tbody>
              <tr>
                <th scope="row">General</th>
                <td>File No</td>
                <td>{{ record.file_no }}</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>County</td>
                <td>{{ record.county }}</td>
              </tr>
              {% if record.district_court %}
              <tr>
                <th scope="row"></th>
                <td>District</td>
                <td>{{ record.district_court }}</td>
              </tr>
              {% endif %}
              {% if record.superior_court %}
              <tr>
                <th scope="row"></th>
                <td>Superior</td>
                <td>{{ record.superior_court }}</td>
              </tr>
              {% endif %}
              <tr>
                <th scope="row">Defendant</th>
                <td>Name</td>
                <td>{{ record.data.Defendant.Name }}</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Sex</td>
                <td>{{ record.data.Defendant.Sex }}</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Race</td>
                <td>{{ record.data.Defendant.Race }}</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Date of Birth</td>
                <td>{{ record.dob }}</td>
              </tr>
              <tr>
                <th scope="row">Case Information</th>
                <td>Case Status</td>
                <td>{{ record.case_status }}</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Offense Date</td>
                <td>{{ record.offense_date }}</td>
              </tr>
              <tr>
                <th scope="row">Offense Record</th>
                <td>Disposed On</td>
                <td>{{ record.disposed_on }}</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Disposition Method</td>
                <td>{{ record.disposition_method }}</td>
              </tr>
            </tbody>
          </table>
          <h4>Offenses</h4>
          <table class="table table-hover table-sm">
            <th></th>
            <th>Description</th>
            <th>Severity</th>
            <th>Law</th>
            <th>NCAOC Code</th>
            <tbody>
              {% for offense in record.offenses %}
              <tr>
                <td>{{ offense.Action }} </td>
                <td>{{ offense.Description }} </td>
                <td>{{ offense.Severity }} </td>
                <td>{{ offense.Law }} </td>
                <td>{{ offense.Code }} </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="source" role="tabpanel" aria-labelledby="source-tab">
      <pre><code>{{ source|linebreaks }}</code></pre>
    </div>
  </div>
{% endblock content %}
